.search-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-icon {
    color: #666666;
    margin-right: 5px;
  }
  